ABOUT-NLS
acaux/
aclocal.m4
autom4te.cache/
config.log
config.status
configure
gnome-shell-extension-super-tab-launcher.zip
m4/
po/LINGUAS
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/*.gmo
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
*~
Makefile
Makefile.in
Makecache
